/* *******
Reset
*********** */

/* Reset CSS - Basique et universel */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: var(--color-text);
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
  color: var(--color-text);
}

ul {
  list-style: none;
  color: var(--color-text);
}

body {
  font-family: var(--font-fam);
}

#burger {
  display: none;
}
/************
Declaration de variables
*********** */

:root {
  --color-cta: #48b343;
  --color-secondary: #2c2c2c;
  --color-text: #1e1e1e;
  --color-text-muted: #757575;
  --color-cta-hover: #3c9436;
  --color-hover-nav: #e3e3e3;
  --color-border: #d9d9d9;
  --color-white: #ffffff;
  --font-fam: Inter;
  --padding-bouton: 0.5em;
  --border-radius: 0.7em;
}

/****************
 dispostion du header
 ******************* */

.head-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  height: 8vh;
  padding: 1em;
}
nav > ul {
  display: flex;
  gap: 1rem;
}

.head-nav img {
  width: 2.6rem;
}

#connexion {
  background-color: var(--color-border);
  padding: var(--padding-bouton);
  border-radius: var(--border-radius);
}
#inscription {
  background-color: var(--color-secondary);
  color: var(--color-white);
  padding: var(--padding-bouton);
  border-radius: var(--border-radius);
}

.nav-items {
  padding: var(--padding-bouton);
}
.nav-items:hover {
  background-color: var(--color-hover-nav);
  border-radius: var(--border-radius);
}

.head-main-right {
  display: flex;
  align-items: center;
}

/********
 disposition header main
 ******* */
.head-main {
  padding: 1.6em;
}

.head-main h1 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0.3em;
}
.head-main h2 {
  font-size: 1rem;
  color: var(--color-text-muted);
  font-weight: normal;
}
.head-main-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-main-right {
  display: flex;
  align-items: center;
  padding: 0.3em;
}

.head-main h2 a:hover {
  text-decoration: underline;
}

.head-main-right:hover {
  background-color: var(--color-hover-nav);
  border-radius: var(--border-radius);
}

/******************
Disposition du Lyaout principale (article de ventes) 
*******************/



.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 1.4rem;
  padding: 1rem;
}
article {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 1em;
}
/* ******
Layout card
******** */

.item-2 {
  grid-column: 2/4;
}
.item-4 {
  grid-column: 1/3;
}
article img {
  width: 100%;
  height: 100%;
  padding: 1em;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  object-fit: contain;
}

.flex-info-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}
article p {
  font-weight: 600;
}

button {
  padding: 1em;
  border-radius: var(--border-radius);
}
#cta {
  background-color: var(--color-cta);
  color: var(--color-white);
}

#cta:hover {
  background-color: var(--color-cta-hover);
}
#indisponible {
  background-color: var(--color-hover-nav);
}

/* ********
disposition footer
************ */

footer {
  display: flex;
  justify-content: center;
  height: 8vh;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  justify-content: center;
}

footer ul li {
  padding: 0.6em;
  border-radius: 4px;
}

footer ul li:nth-child(n + 2):hover {
  cursor: pointer;
  background-color: var(--color-hover-nav);

  color: var(--color-text);
}

#actual {
  cursor: pointer;
  background-color: var(--color-secondary);
  padding: 0.6em;
  border-radius: 4px;
  color: var(--color-hover-nav);
}

@media screen and (max-width: 900px) {
main{
  max-width: 600px;
  margin: auto;
}
  .grid-container {
    grid-template-columns: 1fr;
  }
  article img {
    height: 35vh;
  }
  .item-2 {
    grid-column: auto;
  }

  .item-6,
  .item-5,
  .item-4 {
    display: none;
  }
  /* nav */
  nav ul {
    display: none;
  }
  #burger {
    display: block;
  }

  .head-main-right {
    display: none;
  }


  footer{
    margin-top: 1rem;
  }
}
